<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1362674123-fd78u57eavvi13ab86vnuafhrcnc8js8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1362674123-fd78u57eavvi13ab86vnuafhrcnc8js8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1362674123-sedn17fp5ln8fk4nk0pib5ci8o5mqn8r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAdcedQ-DxC3E5AxCHWplXxPEXH64iVp-0</string>
	<key>GCM_SENDER_ID</key>
	<string>1362674123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartIx</string>
	<key>PROJECT_ID</key>
	<string>driven-development-3e69a</string>
	<key>STORAGE_BUCKET</key>
	<string>driven-development-3e69a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1362674123:ios:4d18ff91514e965bff364e</string>
</dict>
</plist>